/* Try looking in this bit of css for colors/inspo: https://github.com/alphapapa/solarized-everything-css/blob/master/css/solarized-dark/solarized-dark-all-sites.css */


nav {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(
        105deg,
        #294188,
        #4fa4ca
      );
}

.menuList ul {
    list-style-type: none;
}

.menuList {
    display: inline-block;
}

footer {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(
        105deg,
        #294188,
        #4fa4ca
      );
    color: white;
}